{% extends "base_template.html" %}

{% block title %}
<title>Create Flower</title>
{% endblock %}

{% block content %}
    <h1>Create Flower</h1>

    <form action="{{ url_for('store')}} "method="post">
        <div class="mb-3">
            <label for="Flower_name" class="form - lable">Flower_name</label>
            <input type="text" class="form-control"name="flower_name" id="flower_name" placeholder="your flower name" required>
        </div>
        
        <div class="mb-3">
            <lable class="lat_num" class="from-lable">lattitude Number</lable><input type="number" class="form-control" name="lat_num" id="lat_num" step="0.000001" value="0.000001">
        </div>
        <div class="mb-3">
            <lable class="long_num" class="from-lable">longitude Number</lable><input type="number" class="form-control" name="long_num" id="long_num" step="0.000001"value="0.000001">
        </div>
        <div class="mb-3">
            <label for="place" class="from-lable">Place</label>
            <select class="form-control"name="place" id="place">
            <option value="land">Land</option>
            <option value="forest">Forest</option>
            <option value="sea">sea</option>
            </select>
        </div>
    <div class="mb-3">
        <lable for="detail" class="from-lable">Detail</lable><textarea class="form-control" name="detail" id="detail" rows="5"></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">save</button>
        </div>
        </form>
{% endblock %}